<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.OrderMapper">
    <select id="selectOrder" resultType="com.example.pojo.Order">
        select *
        from `order`
        <where>
            <if test="orderId != -1">
                user_id = #{orderId} or order_id = #{orderId}
            </if>
        </where>
    </select>
</mapper>