<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::head(~{::title},~{})">
  <meta charset="utf-8">
  <title>网上购书系统</title>
  <link rel="stylesheet" type="text/css" href="css/public.css"/>
  <link rel="stylesheet" type="text/css" href="css/layui.css"/>
  <script src="../static/lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<script src="//unpkg.com/vue@2/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.14/lib/index.js"></script>
<div class="header" th:replace="_fragment::header(null)">
  <div class="layui-container">
    <div class="logo" style="float: left;">
      网上购书系统
    </div>
    <ul class="layui-nav" style="float: right;">
      <li class="layui-nav-item">
        <a href="/xx/xxx?userId=xxx">购物车</a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="//t.cn/RCzsdCq" class="layui-nav-img">我
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">修改信息</a></dd>
          <dd><a href="javascript:;">个人订单</a></dd>
          <dd><a href="javascript:;">退了</a></dd>
        </dl>
      </li>
    </ul>
    <!-- <ul class="layui-nav" style="float: right;">
            <li class="layui-nav-item">
                <a href="">登录</a>
            </li>
            <li class="layui-nav-item">
                <a href="">注册</a>
            </li>
        </ul> -->
  </div>
</div>

<el-main>
<template>
  <div class="index">
    <!-- 跑马灯  -->
    <div>
      <el-carousel :interval="4000" type="card" height="200px">
        <el-carousel-item v-for="item in imgList" :key="item.id">
          <img :src="item.idView" class="image">
        </el-carousel-item>
      </el-carousel>
    </div>
  </div>
</template>

  <script>
    export default {
      name: 'index',
      data(){
        return {
          imgList: [
            {id:0,idView:'./static/image/monster/dog.jpg'},
            {id:1,idView:'./static/image/monster/lion.jpg'},
            {id:2,idView:'./static/image/monster/snake.jpg'},
            {id:3,idView:'./static/image/monster/tree.jpg'}
          ]
        };
      },
      methods: {
      }
    }
  </script>
  <style>
    .index{
      background: #c8cfd8;
      width: 80%;
      text-align: center;
      margin-left: 142px;
      width: 80.6%;

    }
    .el-carousel__item h3 {
      color: #475669;
      font-size: 14px;
      opacity: 0.75;
      line-height: 200px;
      margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
      background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
      background-color: #d3dce6;
    }
  </style>

</el-main>













<!-- 搜索栏 -->
<div class="search-bar">
  <div class="layui-container">
    <div class="search-input">
      <input type="text" id="keyword-input" name="keyword" placeholder="输入搜索内容" autocomplete="off"
             class="layui-input">
      <button type="button" id="search-btn" class="layui-btn">搜索</button>
    </div>
  </div>
  <hr/>
</div>
<div class="layui-container">
  <div class="layui-tab layui-tab-brief" lay-filter="categoryTabBrief">
    <ul class="layui-tab-title" style="text-align: center;" id="category_tag">
      <li lay-id="search">搜索结果</li>
      <li class="layui-this">全部</li>
    </ul>
    <div class="layui-tab-content" id="content" style="height: 520px;">
      1111
    </div>
  </div>
  <div class="page-util" id="page-util" style="text-align: center;"></div>
</div>
<div class="footer" th:replace="_fragment::footer">
  &copy; 2020
</div>
</body>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/html" id="book-card-tpl">
  {{# layui.each(d,function(index,item){   }}
  <div class="book-card">
    <a href="/index/books/details/{{item.bookId}}"><img src="images/book_images/{{item.image}}"
                                                        alt="{{item.bookName}}"/></a>
    <p class="name">
      <a href="/index/books/details/{{item.bookId}}" title="{{item.description}}">{{item.bookName}}</a>
    </p>
    <p class="author" title="{{item.author}}">{{item.author}}</p>
    <p class="price">
      <span class="layui-icon layui-icon-rmb">&nbsp;{{item.price}}</span>
    </p>
  </div>
  {{#    });    }}
</script>
</html>